[Unit]
Description=Runs pscircle to continuously update desktop wallpaper 

[Service]
Environment=DISPLAY=:0
ExecStart=./pscircle.sh

[Install]
WantedBy=default.target

